
WashingPlate/WashingPlate/Debug/WashingPlate.obj
WashingPlate/WashingPlate/Debug/WashingPlate.obj
WashingPlate/Debug/WashingPlate.exe
WashingPlate/Debug/WashingPlate.exe
WashingPlate/Debug/WashingPlate.exe
WashingPlate/Debug/WashingPlate.exe
*.exe
WashingPlate/Debug/WashingPlate.exe
